@model IEnumerable<Pamano.Core.Domain.Usuarios>

@{
    ViewData["Title"] = "Administracion De Usuarios";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section list{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css_admin/Lista_proveedores_ADMINISTRADOR.css" rel="stylesheet" />
}

<p><a asp-controller="Usuarios" asp-action="Create">Crear nuevo usuarios</a></p>

<table id="Usuarios" class="table">
    <thead>
        <tr>
            <th>
                Numero de Identificacion
            </th>
            <th>
                Primer Nomnbre
            </th>
            <th>
                Segundo Nomnbre
            </th>
            <th>
                Primer Apellido
            </th>
            <th>
                Segundo Apellido
            </th>
            <th>
                Tipo de Usuario
            </th>
            <th>
                Acicones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.TipoDeRol)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="btn_salida">
    <ul>
        <li><a asp-controller="Home" asp-action="CuentaAdmin">VOLVER</a></li>
    </ul>
</div>
@section datatable {
    <script>
        $(document).ready(function () {
            $('#Usuarios').DataTable();
        });
    </script>
}