@model Pamano.Core.Domain.OrdenDeCompra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrdenDeCompra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDelProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDelProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnitarioDelProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnitarioDelProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalDelProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotalDelProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOrdenDeCompra">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
