@model Pamano.Core.Domain.OrdenDeCompra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section list{
    <link href="~/css_admin/registrar_proveedor_ADMINISTRADOR.css" rel="stylesheet" />
}
<div class="Formulario">
    <form asp-action="Create" class="form-registro" onsubmit="return validacion()" method="post">
        <h3 class="form-titulo">Orden de Compra @Html.DisplayFor(model => model.IdOrdenDeCompra)</h3>
        @* <div asp-validation-summary="ModelOnly"></div>*@
        <div class="cont-input">

            <label class="input-100">Nombre del Proveedor</label>
            <input disabled type="text" class="input-100" value="@Html.DisplayFor(model => model.NombreDelProveedor)">

            <label class="input-100">Valor del producto</label>
            <input disabled type="text" class="input-100" value="@Html.DisplayFor(model => model.ValorUnitarioDelProducto)">

            <label class="input-100">Valor Total </label>
            <input disabled type="text" class="input-100" value="@Html.DisplayFor(model => model.ValorTotalDelProducto)">

            <label class="input-100">Telefono</label>
            <input disabled type="text" class="input-100" value="@Html.DisplayFor(model => model.Telefono)">

            <a class="btn-regis" asp-action="Edit" asp-route-id="@Model.IdOrdenDeCompra">Editar</a>
            <a class="form-link" asp-action="Index">Volver al listado</a>

        </div>
    </form>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOrdenDeCompra">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
