@model IEnumerable<Pamano.Core.Domain.OrdenDeCompra>

@{
    ViewData["Title"] = "Orden de Compra";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section list{
    <link href="~/css_admin/Lista_proveedores_ADMINISTRADOR.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<p>
    <a asp-action="Create">Agregar nueva Orden de compra</a>
</p>
<h3>Seleccione linea de artículo</h3>
<select class="input-50">
    <option value="0">Tipo de artículo</option>
    <option value="1">Escolar</option>
    <option value="2">Comestible</option>
    <option value="3">Tecnológico</option>
    <option value="4">Ferretería</option>
    <option value="5">Detalles</option>
</select>
<br />
<br />
<br />
<table id="provedor" class="table mb-1">
    <thead>
        <tr>
            <th>
                Proveedor
            </th>
            <th>
                Valor Unitario
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Producto
            </th>
            <th>
                Accion
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDelProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitarioDelProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotalDelProducto)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Producto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdOrdenDeCompra">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdOrdenDeCompra">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdOrdenDeCompra">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="btn_salida">
    <ul>
        <li><a asp-controller="OrdenDeCompras" asp-action="Reporte">Ver reporte</a></li>
    </ul>
</div>
<div class="btn_salida">
    <ul>
        <li><a href="compra_proveedores_ADMINISTRADOR.html">VOLVER</a></li>
    </ul>
</div>

@section datatable{

    <script>
        $(document).ready(function () {
            $('#provedor').DataTable();
        });
    </script>
}