@model IEnumerable<Pamano.Core.Domain.OrdenDeCompra>

@{
    ViewData["Title"] = "Orden De Compras";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section list{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css_admin/Lista_proveedores_ADMINISTRADOR.css" rel="stylesheet" />

}

<p>
    <a asp-action="Create">Nueva Orden de compra</a>
</p>
<table class="table" id="Compras">
    <thead>
        <tr>
            <th>
                Nombre del Proveedor
            </th>
            <th>
                Valor Unitaro
            </th>
            <th>
                Valor total de la compra
            </th>
            <th>
                Cantidad de prodcutos
            </th>
            <th>
                Nombre de Producto
            </th>
            <th>
                Tipo de Producto
            </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDelProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitarioDelProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotalDelProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.CaracteristicasDelProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdTipoDeProductoNavigation.NombreProducto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdOrdenDeCompra">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdOrdenDeCompra">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdOrdenDeCompra">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="btn_salida">
    <ul>
        <li><a asp-controller="OrdenDeCompras" asp-action="Reporte">Reporte</a></li>
    </ul>
</div><div class="btn_salida">
    <ul>
        <li><a asp-controller="Home" asp-action="CuentaAdmin">VOLVER</a></li>
    </ul>
</div>
@section datatable {
    <script>
        $(document).ready(function () {
            $('#Compras').DataTable();
        });
    </script>
}