@model IEnumerable<Pamano.Core.Domain.Inventario>

@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}
@section list{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css_admin/Lista_proveedores_ADMINISTRADOR.css" rel="stylesheet" />
}
<p><a asp-controller="Usuarios" asp-action="Create" hidden>a</a></p>

<table id="inventario" class="table">
    <thead>
        <tr>
            <th>
                Fecha de ingreso
            </th>
            <th>
               Id Orden de Venta
            </th>
            <th>
               Pedidos
            </th>
            <th>
                Producto
            </th>
            <th>
                Id Usuario
            </th>
            <th>
                acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeIngreso)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdOrdenDeVentaNavigation.IdOrdenDeVenta)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.CaracteristicasDelProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdInventario">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdInventario">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section datatable {
    <script>
        $(document).ready(function () {
            $('#inventario').DataTable();
        });
    </script>
}
