@model IEnumerable<Pamano.Core.Domain.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_navAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrdenDeCompraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrdenDeVentaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedidoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenDeCompraNavigation.IdOrdenDeCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenDeVentaNavigation.IdOrdenDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
